<div class="card-footer text-muted text-center">
  <div class=""></div>
  <div class="card-body">
    <h3 class="text-info font-weight-bold mt-4">TinyURL for: <%= urls[req.params.shortURL].longURL %></h3>
    <h5 class="card-text text-info font-weight-bold">Short URL: <a class="text-danger" href="/u/<%= req.params.shortURL %>"><%= req.params.shortURL %></a></h5>
  </div>
  <div class="">
    <h2 class="text-info mt-4">Edit</h2>
    <form class="form-inline justify-content-center" method="POST" action="/urls/<%= req.params.shortURL %>?_method=PUT">
      <div class="form-group mb-2">
        <label class="font-weight-bold text-info" for="updateURL">New URL:</label>
        <input class="form-control" type="text" name="updateURL" placeholder="http://"
          style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-info">Update</button>
      </div>
    </form>
  </div>
  <main style="margin: 1em;"></main>
<h3 class="text-center font-weight-bold bg-info text-white mt-4 py-3 ">👥Visitor Track</h3>
<table class="table table-info text-white">
  <thead>
    <tr class="bg-info">
      <th class="h4 text-center font-weight-bold pt-3" scope="col">🕰Time Stamp</th>
      <th class="h4 text-center font-weight-bold" scope="col">Visitor 🆔</th>
    </tr>
  </thead>
  <tbody>
    <% for(let url in urls) { %>
      <% for(let stamp of urls[url].stamps) { %>
      <tr class="bg-info">
        <td class="font-weight-bold text-center"><%= stamp.timeStamp %></td>
        <td class="font-weight-bold text-center"><%= stamp.userID %></td>
      <% } %>
    </tr>
    <% } %>
  </tbody>
</table>
</main>
</div>
